/* MISC */
/* FONDO TEXTURA */
main {
  background: url(../img/wallpaper.jpg); }

/* MOVIMIENTO */
#comprarAhora img {
  transition: 2s ease-in-out; }

#comprarAhora img:hover {
  transform: scale(1.2); }

/* CAMBIA COLOR */
#bienvenidos {
  transition: color 4s ease-in-out; }

#bienvenidos:hover {
  color: darkred; }

/* PARTIALS */
/* TITULOS */
h1 {
  color: #cccccc;
  text-decoration: underline;
  font-size: 5em;
  position: relative;
  text-align: center;
  padding: 30px; }

/* SUBTITULOS */
h2 {
  text-align: center;
  font-size: 3em;
  padding: 30px; }

.paragraph .paragraph__link--red {
  color: red; }

.paragraph {
  padding: 0% 15%; }

.menu > li {
  position: relative;
  display: inline-block;
  left: 38%; }

.menu > li > a {
  display: block;
  text-decoration: none;
  padding: 15px 10px;
  color: white; }
  .menu > li > a:hover {
    text-decoration: underline; }

.subMenu {
  position: absolute;
  width: 100%;
  display: none; }

.menu li:hover .subMenu {
  display: block;
  color: white;
  padding: 5px; }

.subMenu li a {
  display: block;
  padding: 5px; }

.parrafoCentrado {
  text-align: center;
  text-decoration: underline;
  color: #ee8555;
  font-size: 1.5rem; }

footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: black; }

form {
  margin: 0 auto;
  width: 300px;
  padding: 20px; }

.field {
  border: 1px #ccc;
  padding: 10px;
  width: 300px; }

.content_center {
  width: 115%; }

/* VIEWS */
/* DESCRIPCION BIENVENIDOS */
.paragraph_01 {
  padding: 20px; }

.imagecenter {
  display: flex;
  justify-content: center;
  padding: 5px; }

/* MAPA */
.parrafoCentrado {
  text-align: center;
  text-decoration: underline;
  color: #ee8555;
  font-size: 1.5rem; }

/* EXTEND */
.primero, .segundo {
  font-size: 2rem;
  color: black; }

.segundo {
  background-color: darkblue; }

/* GRID */
.galeria_fanart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img1 img2" "img3 img4"; }

.imagecenter {
  width: 100%; }

/* MEDIA QUERIE */
@media screen and (max-width: 720px) {
  .galeria_fanart {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img1" "img2" "img3" "img4"; } }
