footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: black;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
}

.field {
    border: 1px #ccc;
    padding: 10px;
    width: 300px;
}

.content_center {
    width: 115%;
}